 /* Primary Styles
    Author: jsantiago
 */
body {
    background-color:#ddd;
}

header {
    margin-bottom:20px;
}

nav {
    float:left;
}

nav ul {
    margin-bottom:15px;
}

nav ul ul {
    margin-left:20px;
}

nav ul ul li {
    list-style:disc;
}

footer {
    border-top:1px solid #444;
}

footer ul {
    list-style:none;
}

footer li {
    display:inline;
}

#container {
    background-color:#fff;
    -moz-box-shadow:0 0 5px #000;
    -webkit-box-shadow:0 0 5px #000;
    box-shadow:0 0 5px #000;
    margin:0 auto;
    padding:20px;
    width:950px;
}

#main {
    margin-left:200px;
}

.post {
    margin-bottom:20px;
}
