---
layout: default
title: Home
---

{% for post in paginator.posts %}
    <article>
        <header>
            <h1>{{ post.title }}</h1>
            <time datetime="{{post.date}}">{{ post.date | date:"%b %d, %Y" }}</time>
        </header>
        {{ post.content }}
    </article>

    {% if post.tags != empty %}
        <div class="tags">
            Tagged as:
            {% for tag in post.tags %}
                <a type="tag" href="/tags/{{tag}}">{{tag}}</a>{% if forloop.rindex0 > 0 %}, {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}

<nav>
    {% if paginator.previous_page %}
        {% assign prev = paginator.posts.first.next %}
        {% if paginator.previous_page == 1 %}
            <a class="previous" href="/">&larr; {{prev.title}}</a>
        {% else %}
            <a class="previous" href="/page{{paginator.previous_page}}">&larr; {{prev.title}}</a>
        {% endif %}
    {% endif %}

    {% if paginator.next_page %}
        {% assign next = paginator.posts.first.previous %}
        <a class="next" href="/page{{paginator.next_page}}">{{next.title}} &rarr;</a>
    {% endif %}
</nav>
