<sidebar>
    {% comment %}
    {% capture has_posts %}{{site.posts.first}}{% endcapture %}
    {% if has_posts != '' %}
    <ul>
        {% assign day = site.posts.first.date %}
        <li>{{ site.posts.first.date | date:"%b %d, %Y" }}</li>
        <ul>
            {% for post in site.posts %}
                {% if day != post.date %}
                    </ul>
                    <li>{{ post.date | date:"%b %d, %Y" }}</li>
                    <ul>
                    {% assign day = post.date %}
                {% endif %}
                <li>
                    <a href="{{ post.url }}" title="Posted on {{ post.date|date:'%B %d, %Y'}}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </ul>
    {% endif %}
    {% endcomment %}
</sidebar>
