@import "partials/base";
@import "partials/syntax";

$font-color:#333;
$heading: 15px;
$border: 1px solid #ccc;

//$background: #fff;
//$link: #06c;
//$ribbon: #7f9db9;
//$header-color:#eee;
//$header-link: #333;
//$footer-color: #333;

$background: #444;
$link: #0b61a4;
$ribbon: #25567b;
$header-link: #fff;
$footer-color: #fff;

/* SCSS */
body {
    background-color:$background;
    color:$font-color;
    font-family: 'Droid Sans', verdanna, georgia, arial, serif;
}

a {
    @include link-colors($link, lighten($link, 20%), darken($link, 10%));
    text-decoration:none;
}

p {
    margin-bottom:1.0em;
}

li {
    padding-bottom:5px;
}

#container {
    @include container;
    background-color:#fff;
    overflow:visible;
    padding-top:$heading;
    padding-bottom:$heading;
}

header, footer {
    display:block;
}

header {
    background-color:$background;

    nav {
        @include container;
        border-top:5px solid #fff;
        display:block;
        padding:0;
        text-align:right;

        ul {
            @include horizontal-list;

            li {
                display:inline;
                float:none;
                padding:0;
                position:relative;
            }
        }

        a {
            @include link-colors($header-link, lighten($header-link, 20%), darken($header-link, 10%));
            display:inline-block;
            padding:15px;
            text-decoration:none;
        }

        a:hover {
            background-color:$link;
        }
    }
}

footer {
    @include container;
    color:$footer-color;
    padding:10px 0;
    text-align:center;

    ul {
        @include horizontal-list;

        li {
            float:none;
        }
    }

    a {
        color:#bbb;
    }
}

aside {
    $sidebar-columns: floor($blueprint-grid-columns * .25);
    @include column($sidebar-columns);

    ul {
        padding:0 0 10px 10px;
    }
}

#content {
    $content-columns: ceil($blueprint-grid-columns * .75);
    @include column($content-columns, true);

}

nav {
    display:block;
    margin:0 20px;
    padding:10px 0;
    text-align:center;
    @include clearfix;

    .previous {
        @include float-left;
    }
    .next {
        @include float-right;
    }
}

article {
    display:block;
    margin:0 20px 20px 20px;

    header {
        background-color:inherit;
        background-image:none;
        border:none;
        padding:inherit;
        margin-bottom:30px;

        h1, time {
            display:block;
            text-align:center;
        }

        h1 {
            font-size:22px;
        }

        time {
            color:#999;
        }
    }
}

.highlight {
    font-family: 'Inconsolata', monospace;
    border:1px dashed #ccc;
    margin:10px;
    padding:10px;
}

.tags {
    margin-left:20px;
}

.tag-list {
    ul {
        margin:0 20px 10px 20px;
    }
}

.archive {
    padding:20px;

    ul {
        padding:0 0 10px 10px;
    }
}

.ribbon {
    @include box-shadow(darken($ribbon, 20%), 0, 0, 4px);
    background:$ribbon;
    color:#fff;
    float:left;
    height:50px;
    left:-15px;
    position:relative;
    top:5px;
    width:80px;
    z-index: 100;

    div {
        text-align:right;
    }

    .day {
        position:absolute;
        font-size:22px;
        right:33px;
        bottom:5px;
    }

    .month {
        position:absolute;
        right:33px;
        top:5px;
    }

    .year {
        @include rotate(-90deg);
        position:absolute;
        right:0;
        top:16px;
    }
}

.fold {
    border-right:15px solid darken($ribbon, 20%);
    border-bottom:15px solid transparent;
    height:0px;
    width:0px;
    position: relative;
    left:-15px;
    top:55px;
    z-index: -1;
}

/* IE */
.no-boxshadow {
    #container {
        border:$border;
    }

    article {
        header {
            background-color:#fff;
            border-bottom:none;
            padding-bottom:0;
        }
    }
}

.no-csstransforms {
    .ribbon {
        div {
            font-size:16px;
            position:static;
            text-align:center;
        }
    }
}

/* iPhone Portrait */
@media screen and (max-width:320px) {
    $max: 320px;
    $main: 320px;
    $footer: 310px;

    html {
        max-width:$max;

        header {
            nav {
                width:$main;
            }
        }

        #container {
            width:$main;

            .ribbon {
                .day,
                .month {
                    right:30px;
                }
            }

            article {
                clear:both;
                margin:55px 12px 20px 12px;

                header {
                    margin-bottom:15px;
                }
            }
        }

        footer {
            width:$footer;
        }
    }
}

/* iPhone Landscape */
@media screen and (min-width:321px) and (max-width:480px) {
    $max: 480px;
    $main: 480px;
    $footer: 470px;

    html {
        max-width:$max;

        header {
            nav {
                width:$main;
            }
        }

        #container {
            width:$main;

            .ribbon {
                .day,
                .month {
                    right:30px;
                }
            }

            article {
                clear:both;
                margin:55px 12px 20px 12px;

                header {
                    margin-bottom:15px;
                }
            }
        }

        footer {
            width:$footer;
        }
    }
}
