@import "partials/base";
@import "partials/syntax";

$font-color:#333;
$heading: 20px;
$border: 1px solid #ccc;

/* SCSS */
body {
    background-color:#fff;
    color:$font-color;
    font-family: 'Droid Sans', verdanna, georgia, arial, serif;
}

a {
    // normal, [hover], [active], [visited], [focus]
    $link: #06c;
    @include link-colors($link, lighten($link, 20%), darken($link, 10%));
}

p {
    margin-bottom:1.0em;
}

li {
    padding-bottom:5px;
}

#container {
    @include box-shadow;
    @include container;
    background-color:#fff;
    margin-top:-$heading;
    padding-top:$heading;
    padding-bottom:$heading;
}

.no-boxshadow {
    #container {
        border-left:$border;
        border-right:$border;
        border-bottom:$border;
        margin-top:0;
    }

    header {
        padding-bottom:$heading;
    }
}

header, footer {
    display:block;
}

header {
    background-color:#eee;
    border-bottom:$border;
    padding-top:$heading;
    padding-bottom:$heading*2;

    section {
        @include container;
        display:block;
        text-align:right;

        a {
            text-decoration:none;
            // normal, [hover], [active], [visited], [focus]
            @include link-colors($font-color, lighten($font-color, 20%), darken($font-color, 10%));
        }
    }
}

footer {
    padding:10px;
    text-align:center;

    ul {
        @include horizontal-list;

        li {
            float:none;
        }
    }
}

aside {
    $sidebar-columns: floor($blueprint-grid-columns * .25);
    @include column($sidebar-columns);

    ul {
        padding:0 0 10px 10px;
    }
}

#content {
    $content-columns: ceil($blueprint-grid-columns * .75);
    @include column($content-columns, true);

    nav {
        display:block;
        margin-right:10px;
        padding:10px 0;
        text-align:center;
        @include clearfix;

        .previous {
            @include float-left;
        }
        .next {
            @include float-right;
        }
    }
}

section {
    display:block;
    margin-bottom:20px;
    margin-right:20px;

    header {
        background-color:inherit;
        border:none;
        padding:inherit;
        margin-bottom:$heading;

        h1, time {
            display:block;
            text-align:center;
        }

        h1 {
            font-size:22px;
        }

        time {
            color:#999;
        }
    }
}

.post-list {
    article {
        margin-left:20px;
        margin-right:20px;
    }
}

.highlight {
    font-family: 'Inconsolata', monospace;
    border:1px dashed #ccc;
    margin:10px;
    padding:10px;
}

.archive {
    ul {
        padding:0 0 10px 10px;
    }
}
