@import "partials/base";
@import "partials/syntax";

$font-color:#333;
$heading: 20px;
$border: 1px solid #ccc;

/* SCSS */
body {
    background-color:#fff;
    color:$font-color;
    font-family: 'Droid Sans', verdanna, georgia, arial, serif;
}

a {
    // normal, [hover], [active], [visited], [focus]
    $link: #06c;
    @include link-colors($link, lighten($link, 20%), darken($link, 10%));
}

p {
    margin-bottom:1.0em;
}

#container {
    @include box-shadow;
    @include container;
    background-color:#fff;
    margin-top:-$heading;
    padding-top:$heading;
    padding-bottom:$heading;
}

.no-boxshadow {
    #container {
        border-left:$border;
        border-right:$border;
        border-bottom:$border;
        margin-top:0;
    }

    header {
        padding-bottom:$heading;
    }
}

header, footer {
    display:block;
    text-align:center;
}

header {
    background-color:#eee;
    border-bottom:$border;
    padding-top:$heading;
    padding-bottom:$heading*2;
}

footer {
    padding:10px;

    ul {
        @include horizontal-list;

        li {
            float:none;
        }
    }
}

nav {
    $sidebar-columns: floor($blueprint-grid-columns / 3);
    @include column($sidebar-columns);

    ul {
        padding:0 0 10px 10px;
    }
}

#content {
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    @include column($content-columns, true);
}

.post {
    margin-bottom:20px;
}

.post-list {
    .post {
        margin-left:20px;
        margin-right:20px;
    }
}

.highlight {
    font-family: 'Inconsolata', monospace;
    border:1px dashed #ccc;
    margin:10px;
    padding:10px;
}
